html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color:#808080;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#f09709;
}

.MuiTableSortLabel-icon {
  width: 17px !IMPORTANT;
  height: 17px !IMPORTANT; 
}

#redlorry {
    height: 100%;
    width: 100%;
}

#redlorry_bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../img/bg_graph.png"), radial-gradient(circle at center, #F5F5F5 35%, #359797 98%);
    opacity: 0.28;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: scroll;
    z-index: -100;
}

#redlorry_bg2 {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../img/bgprojects.png") scroll;
    opacity: 0.18;
    background-attachment: scroll;
    z-index: -100;
}

#redlorry_left_accent {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../img/rand.png"), radial-gradient(circle at left, rgba(245, 245, 245, 0.322) 35%, rgba(245, 245, 245, 0.0) 85%);
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 45px 320px;
    z-index: -100;
}

.settings-header {
  font-size: 15px;
  padding: 6px 7px 3px 15px;
  width: 100%;
  border-radius: 3px;
  color: white;
  text-shadow: 3px 3px 4px #777;
  border: 1px solid rgb(98, 146, 150);
  background: rgba(21,111,114,1);
  background: -moz-linear-gradient(top, rgba(21,111,114,1) 0%, rgba(21,111,114,1) 0%, rgba(21,111,114,0.49) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(21,111,114,1)), color-stop(0%, rgba(21,111,114,1)), color-stop(100%, rgba(21,111,114,0.49)));
  background: -webkit-linear-gradient(top, rgba(21,111,114,1) 0%, rgba(104,146,114,1) 0%, rgba(21,111,114,0.49) 100%);
  background: -o-linear-gradient(top, rgba(21,111,114,1) 0%, rgba(21,111,114,1) 0%, rgba(21,111,114,0.49) 100%);
  background: -ms-linear-gradient(top, rgba(21,111,114,1) 0%, rgba(21,111,114,1) 0%, rgba(21,111,114,0.49) 100%);
  background: linear-gradient(to bottom, rgba(21,111,114,1) 0%, rgba(21,111,114,1) 0%, rgba(21,111,114,0.49) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#156f72', endColorstr='#156f72', GradientType=0 );
}

.main {

}

.left-navigation {
    flex-grow: w;
    margin: 20px;
}

.content {
    margin-left: 20px;

}

.left-navigation>.nav>li.active {
    background: rgb(33, 34, 34);
    background: -moz-linear-gradient(left, rgba(57, 76, 71, 1) 0%, rgba(31, 40, 38, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(57, 76, 71, 1)), color-stop(100%, rgba(31, 40, 38, 1)));
    background: -webkit-linear-gradient(left, rgba(57, 76, 71, 1) 0%, rgba(31, 40, 38, 1) 100%);
    background: -o-linear-gradient(left, rgba(57, 76, 71, 1) 0%, rgba(31, 40, 38, 1) 100%);
    background: -ms-linear-gradient(left, rgba(57, 76, 71, 1) 0%, rgba(31, 40, 38, 1) 100%);
    background: linear-gradient(to right, rgba(57, 76, 71, 1) 0%, rgba(31, 40, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#394c47', endColorstr='#1f2826', GradientType=1);
    border: 1px solid rgb(41, 37, 37);
    border-radius: 4px;
}

.left-navigation>.nav>li {
    background: rgb(138, 141, 141);
    border: 1px solid rgb(41, 37, 37);
    border-radius: 4px;
}

a {
    color: #dee4e4;
    text-decoration: none
}

a:hover {
    color: #156f72;
    text-decoration: underline
}

.nav>li>a:hover {
    background: #359797;
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.header-row {
    /* Inline block elements gap - fix */
    margin: 0;
    flex-grow: w;
    font-weight: bold;
    height: 40px;
    margin-bottom: 3px;
    padding: 0;
    background: rgba(247, 119, 0, 0.884);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

.entry-row {
    /* Inline block elements gap - fix */
    margin: 0;
    flex-grow: w;
    height: 40px;
    margin-bottom: 3px;
    padding: 0;
    background: rgba(53, 151, 151, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.entry-row-nr {
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 10%;
    margin-right: 5px;
    font-size: 16px;
    height: 100%;
}

.entry-row-activity {
    margin-right: 5px;
    display: inline-block;
    width: 15%;
    height: 100%;
}

.entry-row-hours {
    margin-right: 5px;
    display: inline-block;
    width: 18%;
    height: 100%;
}

.entry-row-date {
    margin-right: 10px;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.entry-row-comment {
    margin-right: 10px;
    width: 30%;
    display: inline-block;
    height: 100%;
}

.loader {
  position: relative;
  width: 75px;
  height: 110px;
  margin-bottom: 20px;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 11px;
  height: 50%;
  background: rgb(51,153,153);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #f50057;
  border-radius: 50%;
  animation: ball 4s infinite;
}
@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
